
<div class="appHeader text-light" >
  <div class="pageTitle">{{areaName}} Water Timing</div>
  <div class="right">
  </div>
</div>
<br> <br> <br>


<div style="height: 100%!important;overflow: auto;" class="accordion" id="accordionExample">

  <!-- <div   *ngIf="areaWaterTimimg.length > 0; else nowatertiming"> -->
  <!-- <div   *ngIf="areaWaterTimimg.waterTimingDtoList.length > 0"> -->

  <div   *ngIf="areaWaterTimimg.length > 0; else nowatertiming">

  <div   *ngFor="let list of areaWaterTimimg; let i = index">


  <div   *ngIf="list.waterTimingDtoList.length > 0">

    <div  class="card" >

      <div class="card-header" id="headingTwo" >
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#abc'+i"  aria-expanded="false" [attr.aria-controls]="'abc'+i">
            {{list.block_name}}
          </button>
        </h5>
      </div>

      <div [id]="'abc'+i" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <!-- <div class="card-body" *ngFor="let watertime of areaWaterTimimg.waterTimingDtoList">
          {{watertime.date | date:"EEEE, MMMM d, y"}} at  {{watertime.time}}
          <h1>abc</h1> -->
          <div class="card-body">
            <div *ngFor="let watertime of list.waterTimingDtoList" class="">
              On {{watertime.date | date:"EEEE"}}
              water will start at {{watertime.start_time | time}}
              and end at {{watertime.end_time | time}}
            </div>
          </div>

        </div>

      </div>

  </div>
  </div>

  </div>
  <!-- </div> -->


  <ng-template #nowatertiming>
    <!-- <div class="card" style="width: 75%;position: absolute;top: 40%;left: 50%;transform: translate(-50%, -50%);">
      <div class="card-body"> -->
          <div class="text-center">
            <p>No Water Timing Available</p>
          </div>
      <!-- </div>
    </div> -->
  </ng-template>

</div>

<!-- <div class="accordion" id="accordionExample" *ngFor="let water of areaWaterTimimg; let i = index">
  <div class="card" >

    <div class="card-header" id="headingTwo" >
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#abc'+water.id"  aria-expanded="false" [attr.aria-controls]="'abc'+water.id">
          {{water.block_name}}
        </button>
      </h5>
    </div>
    <div [id]="'abc'+water.id" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div *ngFor="let list of areaWaterTimimg.waterTimingDtoList" class="card-body">
        {{list.date | date:"fullDate"}} at  {{list.time}}
      </div>
    </div>
</div> -->


<app-bottom-menu></app-bottom-menu>
